
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <h1>
        CONCEPTOS
    </h1>
    <p>
        Los activos fijos se definen como todo aquel activo tangible con una vida útil no menor a un año los cuales son adquiridos para emplearse en las operaciones de un negocio determinado con la finalidad de obtener ingresos. Este tipo de activos son realmente importantes dado que representan una inversión y por ende se convierten en el medio por el cual se obtienen los ingresos.
    </p>
</body>

